@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: giant;
  src: url('./assets/fonts/Old_originals.ttf');
}

@font-face {
  font-family: main;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: main-bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

body {
  zoom: 1
}

input, textarea {
  font-size: 16px !important; /* Prevents zoom on iOS */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}