@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* Styles for the range input thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: red; /* Thumb color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Change cursor to pointer */
}

input[type="range"]::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: red; /* Thumb color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Change cursor to pointer */
}